{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<title>{{ article.title|default:"Редактировать статью..." }}</title>
</head>
<body>
	<div id="wrapper">
	<h6>{{ user.username }}</h6>
	  <section>
	    <h1 class="headline">Редактор епт</h1>

	    <button id="editBtn" type="button">Редактировать епт</button>
	    <div id="editDocument">
	      <h1 id="title">Пиши тайтл</h1>
	      <p id="content">текст епт</p>
	    </div>
	  </section>
	</div>
	<script src='{% static "js/redaction_js.js" %}' ></script>
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<p><label for="id_img">Img:</label> <input type="file" name="img" required="" id="id_img"></p>
  		<button type="submit">Upload</button>
	</form>
	<p>{{ error }}</p>
	{% if uploaded_file_url %}
		<img src="{{ uploaded_file_url }}" alt="connect" style="max-height:300px">
	{% else %}
		<img src="{{ article.img.url }}" alt="connect" style="max-height:300px">
	{% endif %}
</body>
</html>